<plugin name='ldap-server' version='0.1.8' grailsVersion='1.1 &gt; *'>
  <author>Luke Daley</author>
  <authorEmail>ld@ldaley.com</authorEmail>
  <title>Embedded LDAP Server Plugin</title>
  <description>Allows the embedding of an LDAP directory (via ApacheDS) for testing purposes</description>
  <documentation>http://grails.org/plugin/grails-ldap-server</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>Config</resource>
  </resources>
  <dependencies />
</plugin>